

#nom_prenom_fr{
    width:  700px;
	text-align: left;
	font-size: 20px;font-weight: bold;    	
}
#nom_prenom_ar{
    width:  700px;
	text-align: right;
	font-size: 20px;font-weight: bold;    	
}
#nom_prenom_fr_n{
    width:  700px;
	text-align: left;
	background-color: yellow;
	font-size: 20px;font-weight: bold;    	
}
#nom_prenom_ar_n{
    width:  700px;
	text-align: right;
	background-color: yellow;
	font-size: 20px;font-weight: bold;    	
}

#actif{
    width:  700px;
	text-align: center;
	
	font-size: 20px;font-weight: bold;    	
}
#actif_n{
    width:  700px;
	text-align: center;
	background-color: yellow;
	font-size: 20px;font-weight: bold;    	
}