<html>
<head>
<title>Menu</title>
<link href="css/style1.css" rel="stylesheet" type="text/css">

</head>

<body>
  <button onClick="window.open('main.php','main')">             Home Page</button><br><br>
  <button onClick="window.open('lister.php?test=3','main')">    Lister</button><br><br>
  <button onClick="window.open('ajouter.php','main')">          Ajouter</button><br><br>
  <button onClick="window.open('editer.php','main')">           Modifier</button><br><br>
  <button onClick="window.open('supprimer.php','main')">        Supprimer</button><br><br>
  <button onClick="window.open('index_rechercher.html','main')">Rechercher</button><br><br>
  <button onClick="window.open('admin.php','main')">            Admin</button><br><br>

</body>

</html>
